@media all and (max-width: 1500px)and (min-width: 1200px){
    #wrap{
        height: 605px;
    }
    #wrap .w-title,#routes .r-title{
        width:520px;
    }
    #routes .r-map{
        right:-10%;
        top:-20%;
    }
}
@media all and (max-width: 1200px)and (min-width: 900px){
    #wrap{
        height: 585px;
    }
    #wrap .w-title,#routes .r-title{
        width:443px;
    }
    #routes .r-main{
        width: 900px;
    }
    #routes .r-main ul li{
        margin: 10px 0;
    }
    #routes .r-main ul li span{
        margin-left: 40px;
    }
    #routes .r-map{
        right:-8%;
        top:-16%;
    }
}
@media all and (max-width: 900px){
    #wrap{
        margin-top: 106px;
    }
    #wrap .w-title,#routes .r-title{
        padding-top: 30px;
    }
    #routes .r-main ul li{
        overflow: hidden;
        width: 100%;
        margin: 10px auto;
        font-size: 14px;
    }
    #routes .r-map{
        display:none;
    }
}
@media all and (max-width: 900px)and (min-width: 600px){
    #wrap{
        height: 465px;
    }
    #wrap .w-title,#routes .r-title{
        width: 431px;
        padding-top: 30px;
    }
    #wrap .w-wx .img{
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
    }
    #wrap .w-wx p{
        color: white;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    #wrap .w-main {
        width: 545px;
    }
    #wrap .w-main .box{
        float: left;
        width: 160px;
        height: 145px;
        margin: 0 10px;
    }
    #wrap .w-main .box .img{
        width: 41px;
        height: 42px;
        margin: 0 auto 20px;
    }
    #wrap .w-main .box p{
        width: 100%;
        color: white;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    #routes .r-main{
        width: 440px;
    }
    #footer{
        height:130px;
    }
    #footer .f-main{
        width:244px;
        height:100%;
        line-height: 40px;
    }
    #footer .f-main li{
        float: none;
    }
}
@media all and (max-width: 600px){
    #wrap{
        height: 500px;
    }
    #wrap .w-title{
        width:278px;
    }
    #wrap .w-title{
        background-size: contain;
    }
    #wrap .w-title img{
        width: 80%;
    }
    #wrap .w-wx{
        margin-top: 20px;
    }
    #wrap .w-wx .img{
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
    }
    #wrap .w-wx p{
        color: white;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    #wrap .w-main {
        width: 245px;
    }
    #wrap .w-main .box{
        float: none;
        width: 256px;
        height: 44px;
        margin: 20px 0 0;
    }
    #wrap .w-main .box .img{
        float: left;
        width: 41px;
        height: 42px;
        margin-left: 10px;
    }
    #wrap .w-main .box p{
        float: left;
        width: 160px;
        color: white;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        margin-left: 30px;
    }
    #wrap .w-main .box1 {
        margin-top: 10px;
    }
    #wrap .w-main .box1 p,#wrap .w-main .box3 p{
        padding-top: 10px;
    }
    #routes .r-title{
        width:278px;
    }
    #routes .r-title{
        background-size: contain;
    }
    #routes .r-title img{
        width: 80%;
    }
    #routes .r-main{
        width: 320px;
        padding: 50px 0;
    }
    #routes .r-main ul li {
        margin: 10px 0;
    }
    #routes .r-main ul li .img {
        float: left;
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    #routes .r-main ul li .img img{
        display: block;
        width: 100%;
        height: auto;
    }
    #routes .r-main ul li span {
        display: inline-block;
        width: 230px;
        height: 40px;
        line-height: 20px;
        margin-left: 30px;
        vertical-align: middle;
    }
    #routes .r-main ul li span.p1 {
        display: inline-block;
        width: 230px;
        line-height: 20px;
        margin-left: 30px;
    }
    #footer{
        height:120px;
    }
    #footer .f-main{
        width:244px;
        height:100%;
        line-height: 35px;
    }
    #footer .f-main li{
        float: none;
        font-size: 12px;
    }
}